:root {
    --color-blue: #0d1d3c;
    --color-grey: rgb(91, 93, 92);
    --color-brown: #a59263;
    --color-white: #ffffff;
}

@font-face {
    font-family: 'Friz Quadrata Std Medium';
    src: url('./fonts/FrizQuadrataStd-Medium.otf');
}

h1{
    font-family: 'Friz Quadrata Std Medium';
    font-size: 3em;
    color: var(--color-white);
    text-align: center;
    text-align: left;
}

.bg-img-blur {
    background-image: url('../images/aram.jpg');
    background-position: center;
    position: relative;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 100vh;
    max-width: 100vw;
    margin: 0px;
}

.bg-img-blur::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}

#login-column{
    background-color: rgba(130, 130, 130, 0.3);
    border-radius: 10px;
    padding: 20px;
    margin-top: 10%;
}

/*.card img {
  max-width: 100%;
  max-height: 100%;
}
*/
.card {
  margin: 0 0.5em;
  box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
  border: none;
  border-radius: 0;
}

@media (min-width: 768px) {
  .card img {
    height: 80%;
  }
}

.card-footer{
  text-align: right;
}

.card-footer-img {
  width: 25px;
  height: 25px;
  margin-left: 15px;
}

.form-white.input-group>.form-control:focus {
    border-color: #fff;
    box-shadow: inset 0 0 0 1px #fff;
  }
  
  .navbar-dark .navbar-nav .nav-link {
    color: #fff;
  }
  
  .navbar-dark .navbar-nav .nav-link:hover,
  .navbar-dark .navbar-nav .nav-link:focus {
    color: rgba(255, 255, 255, 0.75);
  }

