#cv-t2 {
    width: 21cm;
    height: 29.7cm;
    border: 1px #D3D3D3 solid;
    /*background-color: #9DBB59;*/
    position: relative;
}

#div-nom-t2 {
    width: auto;
    height: 20%;
    font-size: larger;
    text-align: center;
}

#div-gauche-t2 {
    float: left;
    width: 30%;
    height: 85.5%;
    padding-right: 2%;
    padding-left: 2%;
    margin-top: -11%;
    /*background-color: #9DBB59;*/
    filter: brightness(0.8);
}

#resume-t2 {
    text-align: justify;
}

#div-milieu-t2 {
    padding-left: 35%;
    width: auto;
    height: 88.5%;
    margin-top: -15%;
    background-color: #ffffff;
}

.h4-t2{
    padding: 2%;
    /*background-color: #9DBB59;*/
    filter: brightness(0.8);
}

.cadre-t2 {
    font-size: 1.5em;
}

.span-t2 {
    font-weight: bold;
    /*color: #9DBB59;*/
}

#footer-t2 {
    font-style: italic;
    font-size: 0.8em;
    vertical-align: bottom;
    position: absolute;
    bottom:0;
    
}