#cv {
    width: 21cm;
    height: 29.7cm;
    border: 1px #D3D3D3 solid;
    background-color: #9DBB59;
}

#div-nom {
    /*padding-left: 35%;*/
    width: auto;
    height: 20%;
    font-size: larger;
    text-align: center;
}

#div-gauche {
    float: left;
    width: 30%;
    height: 88.5%;
    padding-right: 10px;
    padding-left: 10px;
    margin-top: -15%;
    background-color: #BED66F;
}